:root {
  --almostBlack: #191923;
  --almostWhite: #fbfef9;
  --darkGreen: #071e22;
  --mediumGreen: #1d7874;
  --lightGreen: #679289;
  --crayola: #f4c095;
}

body {
  background-color: var(--almostBlack);
  color: white;
  display: flex;
  flex-direction: column;
}
.ld-mode {
  /* padding: 0.5rem; */
  margin: auto;
  background-color: violet;
  justify-content: right;
}
.navbar {
  padding: 0.5rem;
  margin: auto;
  background-color: violet;
}
