body {
  text-align: center;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.toggle-btn {
  border-radius: 15%;
  margin-right: 0.5rem;
}
.project-cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: inherit;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mr-auto :hover {
  border-top: white solid;
}
.card-title {
  text-decoration: underline;
}
.card-img {
  display: block;
  width: 50%;
}
.info-card {
  display: block;
  width: 50%;
}
.section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.navbar-brand {
  margin-left: 1rem;
}
@media (max-width: 629px) {
  .card-img {
    display: none;
  }
}
#navbar {
  /* use a gradient on the navbar */
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  color: white;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#navbar > * {
  color: white;
}
/* .toggle-btn:hover {
  transform: scale(1.15);
} */
/* img:hover {
  transform: scale(1.15);
  margin-left: 6rem;
  z-index: 1;
} */
